//- Courses Section
#courses.section
  h1 Courses
  nav.nav
    a.nav-link(href="#", data-target="courses") Courses
    a.nav-link(href="#", data-target="verilog") Verilog Editor
  ul#course-list.list-group
    //- Courses will be loaded here dynamically
