//- Home Section
#home.section.active
  h1 Welcome to Digital Logic Design
  nav.nav
    a.nav-link(href="#", data-target="courses") Courses
    a.nav-link(href="#", data-target="verilog") Verilog Editor
  #content
    table
      tr
        th 空間
        th 指南
      tr
        td
          a.nav-link(href="#", data-target="courses") Courses
        td
          | 放了一堆可能會用到的講義 
          br
          span.details 可以補充更多相關知識。
      tr
        td
          a.nav-link(href="#", data-target="verilog") Verilog Editor
        td
          | 總之就是個神奇的地方，可以生成波形圖 
          br
          span.details If you want to use this function, make sure you have iverilog and "pip install json".Good luck and have a great time!
    br
    hr
    br
    table
      tr
        th 電路分類
        th 說明
      tr
        td 數位
        td
          | 簡單講就是0和1組成的世界 
          br
          span.details 還需要更多資訊嗎?才不告訴你!。
      tr
        td 類比
        td
          | 在巨觀世界觀測到的東西都是類比的 
          br
          span.details 巨觀就是肉眼能見的範圍；微觀就是需要工具輔助才能觀察的世界，量子力學這種令人頭痛的存在就在這裡發生的。
